<form class="box container">
    <div class="field">
        <label class="label">Nombres</label>
        <div class="control">
          <input class="input" type="text" placeholder="John">
        </div>
      </div>

      <div class="field">
        <label class="label">Apellidos</label>
        <div class="control">
          <input class="input" type="text" placeholder="Doe">
        </div>
      </div>
    <div class="field">
      <label class="label">Correo</label>
      <div class="control">
        <input class="input" type="email" placeholder="e.g. alex@example.com">
      </div>
    </div>
  
    <div class="field">
      <label class="label">Contraseña</label>
      <div class="control">
        <input class="input" type="password" placeholder="********">
      </div>
    </div>

    <div class="field">
        <label class="label">Telefono</label>
        <div class="control">
          <input class="input" type="phone" placeholder="3007925841">
        </div>
      </div>
  
    <button class="button is-primary">Sign in</button>
  </form>