<div class="container">
    <h2 class="title">Mision</h2>
    <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. At deleniti saepe vel et nam ratione modi
        minus voluptatum repellendus veniam quidem natus ad, exercitationem sapiente, consectetur laborum nobis id eius.
    </p>
</div>
<div class="container pt-5">
    <h2 class="title">Vision</h2>
    <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. At deleniti saepe vel et nam ratione modi
        minus voluptatum repellendus veniam quidem natus ad, exercitationem sapiente, consectetur laborum nobis id eius.
    </p>
</div>